body, html{
    margin: 0;
    height: 100%;
}

#gridContainer{
    display: grid;
    grid-template-rows: repeat(1, 0fr) repeat(1, 0fr) repeat(1, 1fr) repeat(1, 0fr);
    grid-template-columns: repeat(1, 0.2fr) repeat(1, 1fr);
    color: rgb(56, 55, 55);
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: Ruda;
}

a, li{
    color: white;
    text-decoration: none;
}

p{
    margin: 0;
}

h1, h2, h3{
    margin: 0;
}

















#header{
    grid-row: 1/2;
    grid-column: 1/3;
}















#sidebar{
    display: grid;
    background-color: cornflowerblue;
    grid-row: 2/4;
    grid-column: 1/2;
}

#sidebarSect1 ul{
    display: flex;
    gap: 20px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 10px;
    flex-direction: row;
    justify-content: flex-start;
}

#sidebarSect1 ul img{
    width: 40px;
    height: 40px;
}

#sidebarSect2, #sidebarSect3{
    display: flex;
    flex-direction: column;
}

#sidebarSect2 ul, #sidebarSect3 ul{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
}

#sidebarSect2 ul div, #sidebarSect3 ul div{
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: flex-start;
}

#sidebarSect2 ul img, #sidebarSect3 ul img{
    width: 20px;
    height: 20px;
}



















#navigation{
    display: grid;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-rows: repeat(1, 0.5fr) repeat(1, 0.5fr);
    grid-template-columns: repeat(1, 1.3fr) repeat(1, 0.7fr);
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: rgb(250, 246, 246);
}

#searchBar,
#userProfileRight,
#userProfileLeft,
#navButtons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 5px;
    align-items: center;
}

#userProfileRight{
    justify-content: flex-end;
    align-items: center;
}

#searchBar img, #userProfileRight #bell{
    width: 30px;
    height: 30px;
}

#searchBar input{
    width: 800px;
    height: 45px;
    border: none;
    background-color: lavender;
    border-radius: 50px;
}

#userProfileRight img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#userProfileRight #bell:hover{
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    border-left: 5px solid rgb(193, 241, 120);
    border-right: 5px solid rgb(193, 241, 120);
}

#userProfileLeft img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#navButtons{
    justify-content: flex-end;
    align-items: center;
}

#navButtons button{
    font-size: 25px;
    color: white;
    padding: 5px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: cornflowerblue;
}

#navButtons button:hover{
    color: rgb(54, 53, 53);
    background-color: lavender;
    box-shadow: 1px 1px 2px 2px grey;
}




















#mainContent{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 0.7fr) repeat(1, 0.3fr);
    grid-row: 3/4;
    grid-column: 2/3;
    padding: 10px 70px 30px 50px;
    background-color: lavender;
}

#project{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

#proCategoryContainer{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

.proCategory{
    display: flex;
    gap: 40px;
    padding: 20px 50px 20px 50px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px grey;
    border-left: 10px solid goldenrod;
    background-color: white;
}

.proTitleDescription{
    font-size: x-large;
}

.proIcons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 40px;
    justify-content: flex-end;
    align-items: center;
}

.proIcons img{
    width: 25px;
    height: 25px;
}

.proIcons img:hover{
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    border-left: 5px solid goldenrod;
    border-right: 5px solid goldenrod;
}

#announcementTrending{
    display: grid;
    gap: 90px;
    grid-template-columns: repeat(1, 1fr);
}

#announcementTrendingCategory{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#announcement, #trending{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px 10px 10px;
}

#titleDescription, #trendingUsers{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px grey;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#trendingUsers{
    gap: 25px;
}

.titleDescriptions, .trendingUsers{
    padding-left: 60px;
    padding-right: 30px;
}

.trendingUsers{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.trendingUsers img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

























#footer{
    padding: 20px;
    grid-row: 4/5;
    grid-column: 1/3;
}