body, html{
    margin: 0;
    height: 100%;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    color: rgb(56, 55, 55);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: Ruda;
}














#header{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 50px;
    justify-content: space-between;
}

#logoName{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
}

#logoName #logo img{
    height: 100px;
    width: 100px;
}

#logoName #name a{
    color: inherit;
    text-decoration: none;
}

#dashboardIcons, ul{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    list-style-type: none;
}

#dashboardIcons ul li a{
    color: inherit;
    text-decoration: none;
}

.dashboard{
    color: rgb(107, 105, 105);;
}

.dashboard:hover{
    border-radius: 10px;
    border-left: 5px solid goldenrod;
    border-right: 5px solid goldenrod;
    /* background-color: rgb(154, 158, 154); */
    /* box-shadow: 1px 1px 2px 2px grey; */
}

.icons:hover{
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    border-left: 5px solid rgb(193, 241, 120);
    border-right: 5px solid rgb(193, 241, 120);
    /* background-color: rgb(193, 241, 120); */
}

#dashboardIcons .icons{
    width: 30px;
    height: 30px;
}















#content{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 55px;
    background-color: lavender;
    font-family: Ruda;
    font-size: large;
}

#status{
    display: flex;
    width: 1200px;
    height: 350px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px grey;
}

#innerStatus{
    display: flex;
    width: 800px;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    border-top: 5px solid goldenrod;
    border-bottom: 5px solid goldenrod;
}

#profilePic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 2px rgb(180, 180, 180);
}

#profilePic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#username{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    width: 350px;
    text-align: start;
    box-sizing: border-box;
}

#description p{
    font-size: larger;
}

#view{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#view a{
    text-decoration: none;
}

#view a button{
    font-size: 30px;
    color: white;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    border: none;
    background-color: goldenrod;
}

#view a button:hover{
    background-color: rgb(100, 112, 100);
    box-shadow: 1px 1px 2px 2px grey;
}














#footer{
    display: flex;
    justify-content: center;
    background-color: rgb(197, 197, 212);
}